

#trizen-hotel-badge-meta input,
.trizen-hotel-infos-content .form-settings textarea,
.trizen-hotel-infos-content .form-settings select,
.trizen-hotel-infos-content .form-settings input,
.trizen-rpwt-fields select,
.trizen-rpwt-fields input {
    height: auto;
    line-height: inherit;
    padding: 8px 15px;
    font-size: 13px;
    color: #0d233e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    display: block;
    width: 100%;
    font-weight: 400;
    border: 1px solid rgba(128,137,150,.2);
    border-radius: .25rem;
}
#trizen-hotel-badge-meta input:focus,
#trizen_room_other_facility_add:focus,
#trizen_room_rules_add:focus,
#trizen_hotel_room_extra_service_add:focus,
#trizen_hotel_faqs_add:focus,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.form-settings .select2-container--default .select2-selection--single:focus,
.trizen-hotel-infos-content .form-settings textarea:focus,
.trizen-hotel-infos-content .form-settings input:focus,
.trizen-hotel-infos-content .form-settings select:focus,
.trizen-rpwt-fields input:focus {
    outline: none;
    box-shadow: none;
    border-color: #287dfa;
}
.trizen-hotel-infos-content .form-settings textarea {
    height: 120px;
}
#trizen-hotel-badge-meta label,
.trizen-rpwt-fields label {
    font-size: 14px;
    color: #0d233e;
    display: inline-block;
    margin-bottom: .5rem;
}
.trizen-rpwt-fields hr {
    margin-top: 25px;
}
.highlight-desc {
    font-style: italic;
    color: #5d646d;
    margin-top: 3px;
    display: inline-block;
}
.highlight-desc strong {
    color: #0d233e;
}


.trizen-hotel-information-wrap .tab-content{
    display: none;
    padding: 0;
    transition: 0.3s ease all;
}
.trizen-hotel-information-wrap .tab-content.current{
    display: inherit;
    transition: 0.3s ease all;
}
.trizen-hotel-information-wrap .tab-content .finbyz-icon {
    width: 100px;
}
.trizen-hotel-information-wrap .nav-pill-main-div {
    display: flex;
    align-items: start;
}
.trizen-hotel-information-wrap .tabs {
    width: 150px;
    flex: none;
    margin: 0 20px 0 0;
}
.trizen-hotel-information-wrap .tabs li {
    font-size: 14px;
    border: 1px solid #287dfa;
    padding: 10px 10px 11px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #287dfa;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background: #fff;
}
.trizen-hotel-information-wrap .tabs li.current {
    background: #287dfa;
    color: #ffffff;
}
.trizen-hotel-information-wrap .tabs li.current:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 16px;
}
.trizen-hotel-information-wrap .tabs li:last-child {
    margin-bottom: 0;
}
#trizen-hotel-room-infos-meta .inside,
#trizen-hotel-infos-meta .inside {
    background: #f2f2f2;
    margin: 0;
    padding: 15px;
}
.trizen-hotel-information-wrap .trizen-hotel-infos-content {
    background: #ffffff;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
}
.trizen-hotel-infos-content .form-settings {
    padding: 20px 20px 25px 20px;
    border-bottom: 2px solid #f2f2f2;
}
.trizen-hotel-infos-content .form-settings:last-child {
    border-bottom: none;
}
.trizen-hotel-infos-content .form-settings .title,
.trizen-hotel-infos-content .form-settings label {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group label {
    font-size: 14px;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group {
    margin-bottom: 15px;
}
.trizen-hotel-infos-content .form-settings .description {
    display: block;
    font-style: italic;
    margin-bottom: 6px;
}
.trizen-hotel-infos-content .form-settings select,
.trizen-hotel-infos-content .form-settings input {
    border-color: #d4d4d4;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 600px;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group input[type="submit"],
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group select {
    width: auto;
}
.trizen-hotel-infos-content .form-settings .trizen-btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 18px;
    background-color: #287dfa;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #287dfa;
    font-weight: 500;
    line-height: 30px;
}
.trizen-hotel-infos-content .form-settings .trizen-btn:hover {
    background: #ffffff;
    color: #287dfa;
}

.trizen_hotel_room_img_gallery_mtb,
.trizen_hotel_img_gallery_mtb {
    display: flex;
    flex-wrap: wrap;
}
.trizen_hotel_room_img_gallery_mtb li,
.trizen_hotel_img_gallery_mtb li {
    position: relative;
    width: 100px;
    margin-right: 10px;
    border: 1px solid #eee;
}
.trizen_hotel_room_img_gallery_mtb li:last-child,
.trizen_hotel_img_gallery_mtb li:last-child {
    margin-right: 0;
}
.trizen_hotel_room_img_gallery_mtb li img,
.trizen_hotel_img_gallery_mtb li img {
    width: auto;
    height: 100px;
    max-width: 100%;
}
.trizen_hotel_room_img_gallery_mtb li .trizen_hotel_room_img_gallery_remove,
.trizen_hotel_img_gallery_mtb li .trizen_hotel_img_gallery_remove {
    position: absolute;
    right: -7px;
    top: -7px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    transform: rotate(45deg);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: .3s;
    border: 1px solid #ffffff;
}
.trizen_hotel_room_img_gallery_mtb li .trizen_hotel_room_img_gallery_remove:hover,
.trizen_hotel_img_gallery_mtb li .trizen_hotel_img_gallery_remove:hover {
    background: #ffffff;
    color: #000000;
}
.trizen-room-rules-metabox .field-group:first-child,
.trizen-room-other-facility-metabox .field-group:first-child,
.trizen-hotel-features-repeater-metabox .field-group:first-child {
    margin-top: 25px;
}
.trizen-room-rules-metabox .field-group,
.trizen-room-other-facility-metabox .field-group,
.trizen-hotel-features-repeater-metabox .field-group {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label,
.trizen-hotel-infos-content .form-settings .trizen-hotel-features-repeater-metabox label {
    margin-bottom: 0;
}
.trizen-hotel-features-repeater-metabox .field-group label {
    margin-right: 10px;
}
.trizen-hotel-features-repeater-metabox label span {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove,
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove {
    border: none;
    padding: 0;
    background: red;
    color: #fff;
    font-weight: 700;
    transition: .3s;
    height: 40px;
    text-align: center;
    font-size: 15px;
    width: 35px;
}
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove:hover,
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove:hover,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_room_extra_service_remove:hover,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove:hover,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove:hover {
    background: #e40707;
}
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove:focus,
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove:focus,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove:focus,
.hotel-accordion-item .hotel-accordion-title a:focus,
#tab-hotel-features .trizen-btn:focus,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove:focus {
    outline: none;
    box-shadow: none;
}
#tab-hotel-features .trizen-btn {
    padding: 1px 15px;
    margin-top: 10px;
}


/* Accordion */
.hotel-accordion-item .accordion-toggle {
    display: block;
}
.hotel-accordion-item .accordion-content {
    display: none;
    padding: 20px 20px 20px;
}
.hotel-accordion-item .accordion-content.active {
    display: block;
}
.hotel-accordion-item {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(128, 137, 150, 0.2);
    margin-bottom: 10px;
}
.hotel-accordion-item:last-child {
    margin-bottom: 0;
}
.hotel-accordion-item .hotel-accordion-title {
    margin: 0;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8px;
}
.hotel-accordion-item .hotel-accordion-title a {
    display: block;
    padding: 12px 20px;
    text-align: left;
    color: #0d233e;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    flex: 1;
}
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_room_extra_service_remove,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove {
    background: red;
    color: #fff;
    border: none;
    height: 46px;
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    font-weight: 600;
    font-size: 17px;
}
.hotel-accordion-item .accordion-content .form-group {
    margin-bottom: 20px;
}
.hotel-accordion-item .accordion-content .form-group:last-child {
    margin-bottom: 0;
}
.hotel-accordion-item .accordion-content label {
    font-size: 16px;
}
#room_extra_services_setting,
#hotel_faqs_setting {
    max-width: 600px;
}
#room_extra_services_setting,
#trizen_hotel_faqs_data {
    margin-top: 20px;
}
#trizen_room_rules_add,
#trizen_room_other_facility_add,
#trizen_hotel_room_extra_service_add,
#trizen_hotel_faqs_add {
    margin-top: 15px;
}
.form-settings .select2 {
    width: 100% !important;
    max-width: 600px;
}
.form-settings .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid rgba(128,137,150,.2);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 18px;
    height: auto;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    outline: none;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 9px;
    right: 6px;
    width: 20px;
}
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--open .select2-dropdown--below {
    border-color: rgba(128,137,150,.2);
}
.select2-results__options li {
    margin-bottom: 0;
    padding: 10px 15px;
}
.form-settings .form-input {
    position: relative;
}
.form-settings .range2-bubble,
.form-settings .range-bubble {
    background: #287dfa;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
}
.form-settings .range2-bubble::after,
.form-settings .range-bubble::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #287dfa;
    bottom: -3px;
    left: 43%;
    transform: rotate(45deg);
}
.form-settings .form-input input[type="range"] {
    padding: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-settings .form-input input[type="range"]:focus {
    outline: none;
}
.form-settings .form-input input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #287dfa;
    border-radius: 25px;
}
.form-settings .form-input input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.1);
    border: 3px solid #287dfa;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -7px;
}
.w-600 {
    max-width: 600px;
}
#room_number_of_adults_setting .form-input {
    margin-top: 20px;
}
#room_number_of_beds_setting .form-input {
    margin-top: 20px;
}
.room_other_facility_setting .field-group input {
    width: 500px;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label {
    width: 500px;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label span,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label span {
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}

.calendar-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.calendar-wrapper .left-side {
    width: 40%;
}
.calendar-wrapper .right-side {
    width: 60%;
}




