

#trizen-hotel-badge-meta input,
.form-settings textarea,
.form-settings select,
.form-settings input[type="text"],
.form-settings input[type="range"],
.trizen-rpwt-fields select,
.trizen-rpwt-fields input {
    height: auto;
    line-height: inherit;
    padding: 8px 15px;
    font-size: 13px;
    color: #0d233e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    display: block;
    width: 100%;
    font-weight: 400;
    border: 1px solid rgba(128,137,150,.2);
    border-radius: .25rem;
}
.panel-room .input-price {
    padding: 5px 10px;
    border: 1px solid rgba(128,137,150,.2);
}
.panel-room .input-price:focus,
#trizen-hotel-badge-meta input:focus,
#trizen_room_other_facility_add:focus,
#trizen_room_rules_add:focus,
#trizen_hotel_room_extra_service_add:focus,
#trizen_hotel_faqs_add:focus,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.form-settings .select2-container--default .select2-selection--single:focus,
.trizen-hotel-infos-content .form-settings textarea:focus,
.trizen-hotel-infos-content .form-settings input[type="text"]:focus,
.trizen-hotel-infos-content .form-settings input[type="range"]:focus,
.trizen-hotel-infos-content .form-settings select:focus,
.trizen-rpwt-fields input:focus {
    outline: none;
    box-shadow: none;
    border-color: #287dfa;
}
.trizen-hotel-infos-content .form-settings textarea {
    height: 120px;
}
#trizen-hotel-badge-meta label,
.trizen-rpwt-fields label {
    font-size: 14px;
    color: #0d233e;
    display: inline-block;
    margin-bottom: .5rem;
}
.trizen-rpwt-fields hr {
    margin-top: 25px;
}
.highlight-desc {
    font-style: italic;
    color: #5d646d;
    margin-top: 3px;
    display: inline-block;
}
.highlight-desc strong {
    color: #0d233e;
}


.trizen-hotel-information-wrap .tab-content{
    display: none;
    padding: 0;
    transition: 0.3s ease all;
}
.trizen-hotel-information-wrap .tab-content.current{
    display: inherit;
    transition: 0.3s ease all;
}
.trizen-hotel-information-wrap .tab-content .finbyz-icon {
    width: 100px;
}
.trizen-hotel-information-wrap .nav-pill-main-div {
    display: flex;
    align-items: start;
}
.trizen-hotel-information-wrap .tabs {
    width: 12%;
    flex: none;
    margin: 0 20px 0 0;
    position: sticky;
    top: 50px;
}
.trizen-hotel-information-wrap .tabs li {
    font-size: 14px;
    border: 1px solid #287dfa;
    padding: 10px 10px 11px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #287dfa;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background: #fff;
}
.trizen-hotel-information-wrap .tabs li.current {
    background: #287dfa;
    color: #ffffff;
}
.trizen-hotel-information-wrap .tabs li.current:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 16px;
}
.trizen-hotel-information-wrap .tabs li:last-child {
    margin-bottom: 0;
}
#trizen-hotel-room-infos-meta .inside,
#trizen-hotel-infos-meta .inside {
    background: #f2f2f2;
    margin: 0;
    padding: 15px;
}
.trizen-hotel-information-wrap .trizen-hotel-infos-content {
    background: #ffffff;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    width: 87%;
}
.form-settings {
    padding: 20px 20px 25px 20px;
    border-bottom: 2px solid #f2f2f2;
}
.form-settings:last-child {
    border-bottom: none;
}
.form-settings .title,
.form-settings label {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 0;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group label {
    font-size: 14px;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group {
    margin-bottom: 15px;
}
.form-settings .description {
    display: block;
    margin-bottom: 6px;
}
.form-settings select,
.form-settings input[type="text"],
.form-settings input[type="range"] {
    border-color: #d4d4d4;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 600px;
}
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group input[type="submit"],
.trizen-hotel-infos-content .calendar-wrapper .form-settings .field-group select {
    width: auto;
}
.form-settings .trizen-btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 18px;
    background-color: #287dfa;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #287dfa;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    height: auto;
}
.trizen-hotel-infos-content .form-settings .trizen-btn:hover {
    background: #ffffff;
    color: #287dfa;
}
.trizen-hotel-infos-content .form-settings .trizen-btn:focus {
    outline: none;
    box-shadow: none;
}

.trizen_hotel_room_img_gallery_mtb,
.trizen_hotel_img_gallery_mtb {
    display: flex;
    flex-wrap: wrap;
}
.trizen_hotel_room_img_gallery_mtb li,
.trizen_hotel_img_gallery_mtb li {
    position: relative;
    width: 100px;
    margin-right: 10px;
    border: 1px solid #eee;
}
.trizen_hotel_room_img_gallery_mtb li:last-child,
.trizen_hotel_img_gallery_mtb li:last-child {
    margin-right: 0;
}
.trizen_hotel_room_img_gallery_mtb li img,
.trizen_hotel_img_gallery_mtb li img {
    width: auto;
    height: 100px;
    max-width: 100%;
}
.trizen_hotel_room_img_gallery_mtb li .trizen_hotel_room_img_gallery_remove,
.trizen_hotel_img_gallery_mtb li .trizen_hotel_img_gallery_remove {
    position: absolute;
    right: -7px;
    top: -7px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    transform: rotate(45deg);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: .3s;
    border: 2px solid #ffffff;
}
.trizen_hotel_room_img_gallery_mtb li .trizen_hotel_room_img_gallery_remove:hover,
.trizen_hotel_img_gallery_mtb li .trizen_hotel_img_gallery_remove:hover {
    background: #ffffff;
    color: #000000;
}
.trizen-room-rules-metabox .field-group:first-child,
.trizen-room-other-facility-metabox .field-group:first-child,
.trizen-hotel-features-repeater-metabox .field-group:first-child {
    margin-top: 25px;
}
.trizen-room-rules-metabox .field-group,
.trizen-room-other-facility-metabox .field-group,
.trizen-hotel-features-repeater-metabox .field-group {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label,
.trizen-hotel-infos-content .form-settings .trizen-hotel-features-repeater-metabox label {
    margin-bottom: 0;
}
.trizen-hotel-features-repeater-metabox .field-group label {
    margin-right: 10px;
}
.trizen-hotel-features-repeater-metabox label span {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove,
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove {
    border: none;
    padding: 0;
    background: red;
    color: #fff;
    font-weight: 700;
    transition: .3s;
    height: 40px;
    text-align: center;
    font-size: 15px;
    width: 35px;
}
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove:hover,
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove:hover,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_room_extra_service_remove:hover,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove:hover,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove:hover {
    background: #e40707;
}
.location-list label input:focus,
.trizen-room-rules-metabox .field-group .trizen_room_rules_remove:focus,
.trizen-room-other-facility-metabox .field-group .trizen_room_other_facility_remove:focus,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove:focus,
.hotel-accordion-item .hotel-accordion-title a:focus,
#tab-hotel-features .trizen-btn:focus,
.trizen-hotel-features-repeater-metabox .field-group .trizen_hotel_features_remove:focus {
    outline: none !important;
    box-shadow: none !important;
}
#tab-hotel-features .trizen-btn {
    padding: 1px 15px;
    margin-top: 10px;
}


/* Accordion */
.hotel-accordion-item .accordion-toggle {
    display: block;
}
.hotel-accordion-item .accordion-content {
    display: none;
    padding: 20px 20px 20px;
}
.hotel-accordion-item.active .accordion-content,
.hotel-accordion-item .accordion-content.active {
    display: block;
}
.hotel-accordion-item .accordion-content.active {
    display: none;
}
.hotel-accordion-item {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(128, 137, 150, 0.2);
    margin-bottom: 10px;
}
.hotel-accordion-item:last-child {
    margin-bottom: 0;
}
.hotel-accordion-item .hotel-accordion-title {
    margin: 0;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8px;
}
.hotel-accordion-item .hotel-accordion-title a {
    display: block;
    padding: 12px 20px;
    text-align: left;
    color: #0d233e;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    flex: 1;
}
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_room_extra_service_remove,
.hotel-accordion-item .hotel-accordion-title .trizen_hotel_faq_remove {
    background: red;
    color: #fff;
    border: none;
    height: 46px;
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    font-weight: 600;
    font-size: 17px;
}
.hotel-accordion-item .accordion-content .form-group {
    margin-bottom: 20px;
}
.hotel-accordion-item .accordion-content .form-group:last-child {
    margin-bottom: 0;
}
.hotel-accordion-item .accordion-content label {
    font-size: 16px;
}
#room_extra_services_setting,
#hotel_faqs_setting {
    max-width: 600px;
}
#room_extra_services_setting,
#trizen_hotel_faqs_data {
    margin-top: 20px;
}
#trizen_room_rules_add,
#trizen_room_other_facility_add,
#trizen_hotel_room_extra_service_add,
#trizen_hotel_faqs_add {
    margin-top: 15px;
}
.form-settings .select2 {
    width: 100% !important;
    max-width: 600px;
}
.form-settings .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid rgba(128,137,150,.2);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 18px;
    height: auto;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    outline: none;
}
.form-settings .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 9px;
    right: 6px;
    width: 20px;
}
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--open .select2-dropdown--below {
    border-color: rgba(128,137,150,.2);
}
.select2-results__options li {
    margin-bottom: 0;
    padding: 10px 15px;
}
.form-settings .form-input {
    position: relative;
}
.form-settings .range6-bubble,
.form-settings .range5-bubble,
.form-settings .range4-bubble,
.form-settings .range3-bubble,
.form-settings .range2-bubble,
.form-settings .range-bubble {
    background: #287dfa;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
}
.form-settings .range6-bubble::after,
.form-settings .range5-bubble::after,
.form-settings .range4-bubble::after,
.form-settings .range3-bubble::after,
.form-settings .range2-bubble::after,
.form-settings .range-bubble::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #287dfa;
    top: -3px;
    left: 42%;
    transform: rotate(45deg);
}
.form-settings .form-input input[type="range"] {
    padding: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-settings .form-input input[type="range"]:focus {
    outline: none;
}
.form-settings .form-input input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animation-delay: 0.2s;
    background: #287dfa;
    border-radius: 25px;
}
.form-settings .form-input input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.1);
    border: 3px solid #287dfa;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -7px;
}
.w-600 {
    max-width: 600px;
}
#hotel_star_setting .form-input,
#min_book_room_setting .form-input,
#hotel_booking_period_setting .form-input,
#room_number_of_children_setting .form-input,
#room_number_of_adults_setting .form-input,
#room_number_of_beds_setting .form-input {
    margin-top: 15px;
    margin-bottom: 40px;
}
.room_other_facility_setting .field-group input {
    width: 500px;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label {
    width: 500px;
}
.trizen-hotel-information-wrap .form-settings .trizen-room-rules-metabox label span,
.trizen-hotel-information-wrap .form-settings .trizen-room-other-facility-metabox label span {
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}
.spinner.is-active, .loading-content .spinner {
    visibility: visible;
}
input[type="checkbox"],
input[type="radio"] {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: .05s border-color ease-in-out;
}


/* For Start Time Bulk */
.calendar-wrapper-inventory {
    position: relative;
}
.calendar-wrapper-inventory .ts-inventory-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.calendar-wrapper-inventory .ts-inventory-form .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
.calendar-wrapper-inventory .ts-inventory-form .label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.trizen-hotel-infos-content .calendar-wrapper-inventory .ts-inventory-form input,
.calendar-wrapper-inventory .ts-inventory-form input {
    max-width: 200px;
}
.trizen-hotel-infos-content .calendar-wrapper-inventory .ts-inventory-form input.ts-inventory-start,
.calendar-wrapper-inventory .ts-inventory-form input.ts-inventory-start {
    margin-right: 10px;
}


#form-bulk-edit,
#form-bulk-starttime-edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
    display: none
}
#form-bulk-edit.fixed {
    position: fixed;
}
#form-bulk-edit .form-container,
#form-bulk-starttime-edit .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background: #fff;
    transform: translate(-50%, -48%);
    padding: 15px;
    max-width: 90%;
    width: 950px;
}
#form-bulk-edit .form-container .form-title,
#form-bulk-starttime-edit .form-container .form-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}
#form-bulk-edit .form-container h3,
#form-bulk-edit .form-container h4,
#form-bulk-starttime-edit .form-container h3,
#form-bulk-starttime-edit .form-container h4 {
    margin: 0;
    padding: 0;
    color: #1d2327;
    font-size: 12px;
}
#form-bulk-edit .form-container .form-title.form-bulk-header h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
#form-bulk-edit .form-container .form-title.form-bulk-header select {
    max-width: 300px;
}
button {
    cursor: pointer;
}
#form-bulk-edit .form-container .form-content,
#form-bulk-starttime-edit .form-container .form-content {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#form-bulk-edit .form-container .form-content .form-group,
#form-bulk-starttime-edit .form-container .form-content .form-group {
    width: 23%;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
#form-bulk-edit .form-container .form-content .form-group:first-child,
#form-bulk-starttime-edit .form-container .form-content .form-group:first-child {
    width: 11%;
}
#form-bulk-edit .form-container .form-content .form-group:nth-child(2),
#form-bulk-starttime-edit .form-container .form-content .form-group:nth-child(2) {
    width: 26%;
}

#form-bulk-edit .form-container .form-content .form-group label,
#form-bulk-starttime-edit .form-container .form-content .form-group label,
#flight-form-bulk-edit .form-container .form-content .form-group label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 400;
}
#form-bulk-edit .form-container .form-content .form-group label.block,
#form-bulk-starttime-edit .form-container .form-content .form-group label.block,
#flight-form-bulk-edit .form-container .form-content .form-group label.block {
    display: block;
    margin-bottom: 5px
}
@media (max-width: 1750px) {
    #form-bulk-edit .form-container,
    #form-bulk-starttime-edit .form-container,
    #flight-form-bulk-edit .form-container {
        max-height: 550px;
        overflow-y: scroll
    }
}
@media (max-width: 1040px) {
    #form-bulk-edit .form-container,
    #form-bulk-starttime-edit .form-container,
    #flight-form-bulk-edit .form-container {
        max-height: 480px;
        overflow-y: scroll
    }
}
#form-bulk-edit .overlay,
#form-bulk-starttime-edit .overlay {
    display: none;
    z-index: 10;
    background: rgba(255, 255, 255, .7)
}
#form-bulk-edit .overlay.open,
#form-bulk-starttime-edit .overlay.open {
    display: block
}
#form-bulk-edit .form-container .form-content.form-bulk-price-op label {
    font-size: 14px;
}
#form-bulk-edit .form-container .form-content.form-bulk-price-op label:first-child {
    margin-right: 10px;
}
#form-bulk-edit .form-container .form-content.form-bulk-price-op input[type="text"],
#form-bulk-edit .form-container .form-content.form-bulk-price-op input[type="number"],
#form-bulk-edit .form-container .form-content.form-bulk-price-op select,
#form-bulk-edit .form-container .form-content.form-bulk-price-op textarea {
    margin-top: 10px;
}
.calendar-wrapper-inventory .ts-inventory-color {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.calendar-wrapper-inventory .ts-inventory-color .inventory-color-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.calendar-wrapper-inventory .ts-inventory-color .inventory-color-item span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #D0E4FD;
    margin-right: 5px;
}
.calendar-wrapper-inventory .ts-inventory-color .inventory-color-item .unavailable {
    background: #F5837A;
}
.calendar-wrapper-inventory .ts-inventory-color .inventory-color-item .out_stock {
    background: #FCD29A;
}
.panel-room-number-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}
.panel-room-number-wrapper .panel-room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -37%);
    -webkit-transform: translate(-50%, -37%);
    z-index: 99;
    padding: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-room-number-wrapper .panel-room .trizen-btn i {
    display: none;
}
.panel-room-number-wrapper .panel-room .close {
    position: absolute;
    color: #FFF;
    right: -20px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #b93b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    opacity: 1 !important;
}




/* ---------------------------
    Gantt
-----------------------------*/
.ts-inventory * {
    box-sizing: border-box;
}
.gantt, .gantt2 {
    width: 100%;
    margin: 20px auto;
    border: 3px solid #ddd;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gantt:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.fn-gantt {
    width: 100%;
}
.fn-gantt .fn-content {
    overflow: hidden;
    position: relative;
    width: 100%;
}
/* === LEFT PANEL === */
.fn-gantt .leftPanel {
    float: left;
    width: 225px;
    overflow: hidden;
    border-right: 1px solid #DDD;
    position: relative;
    z-index: 20;
}
@media(max-width:767px){
    .fn-gantt .leftPanel {
        width: 30%;
    }
}
.fn-gantt .row {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: -1px;
    display: block;
    padding: 0;
}
.fn-gantt .row.header{
    line-height: 40px;
}
.leftPanel .row {
    height: 60px;
    line-height: 60px;
}
@media(max-width:767px){
    .page-template-template-user .leftPanel .row{
        line-height: inherit;
    }
    .page-template-template-user .fn-gantt .navigate{
        padding: 10px;
    }
    .page-template-template-user .calendar-wrapper > h4{
        padding:10px;
    }
}

.fn-gantt .leftPanel .fn-label {
    display: inline-block;
    margin: 0 0 0 5px;
    color: #484A4D;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fn-gantt .leftPanel .row0 {
    border-top: 1px solid #DDD;
}
.fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc {
    float: left;
    height: 60px;
    margin: 0;
    background-color: #f6f6f6;
}
@media(max-width:767px){
    .fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc {
        font-size: 12px;
        word-break: break-word;
    }
    .fn-gantt .leftPanel .fn-label {
        overflow: inherit;
        text-overflow: unset;
        white-space: unset;
    }
}
.fn-gantt .leftPanel .name {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}
.fn-gantt .leftPanel .desc {
    width: 100%;
    display: none;
}
.fn-gantt .leftPanel .fn-wide, .fn-gantt .leftPanel .fn-wide .fn-label {
    width: 225px;
}
@media(max-width:767px){
    .fn-gantt .leftPanel .fn-wide, .fn-gantt .leftPanel .fn-wide .fn-label {
        width: 100%;
    }
}
.fn-gantt .spacer {
    margin: -2px 0 1px 0;
    border-bottom: none;
    background-color: #f6f6f6;
}
/* === RIGHT PANEL === */
.fn-gantt .rightPanel {
    overflow: hidden;
}
.fn-gantt .dataPanel {
    margin-left: 0;
    border-right: 1px solid #DDD;
    background-image: url(../img/grid.png);
    background-repeat: repeat;
    background-position: 0 14px;
    position: relative;
}
.fn-gantt .gantt-range {
    position: absolute;
    background: rgba(255, 161, 60, 0.4);
    height: 59px;
    z-index: 99;
}
.fn-gantt .gantt-range.range-moving {
    cursor: e-resize;
}
.fn-gantt .gantt-range.selected {
    background: rgba(98, 212, 187, 0.4);
}
.fn-gantt .day{
    border-bottom: 1px solid #DDD;
}
.fn-gantt .day, .fn-gantt .date {
    overflow: visible;
    width: 102px;
    line-height: 28px;
    text-align: center;
    border-left: 1px solid #DDD;
    margin: -1px 0 0 -1px;
    font-size: 11px;
    color: #484a4d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.fn-gantt .holiday {
    background-color: #ffd263;
    height: 28px;
    margin: 0 0 -1px -1px;
}
.fn-gantt .sa, .fn-gantt .sn, .fn-gantt .wd {
    height: 28px;
    margin: 0;
    text-align: center;
}
.fn-gantt .sa, .fn-gantt .sn {
    color: #939496;
    background-color: #f5f5f5;
    text-align: center;
}
.fn-gantt .today {
    background-color: #fff8da;
    height: 28px;
    margin: 0 0 -1px -1px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.fn-gantt .wd {
    background-color: #f6f6f6;
    text-align: center;
}
.fn-gantt .rightPanel .month, .fn-gantt .rightPanel .year {
    float: left;
    overflow: hidden;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    height: 40px;
    margin: 0 0 0 -1px;
    background-color: #f6f6f6;
    font-weight: bold;
    font-size: 11px;
    color: #484a4d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-align: center;
}
.fn-gantt-hint {
    border: 5px solid #edc332;
    background-color: #fff5d4;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 11;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.fn-gantt .bar {
    background-color: #D0E4FD;
    height: 18px;
    width: 102px !important;
    margin: 0;
    position: absolute;
    z-index: 10;
    text-align: center;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;
}
.fn-gantt .bar .fn-label {
    line-height: 18px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: #414B57 !important;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
}
.fn-gantt .bar .fn-label .price {
    font-size: 10px;
}
.gantt .panel-price-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
}
.gantt .panel-price-wrapper .close {
    position: absolute;
    color: #FFF;
    right: -20px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #b93b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}
.gantt .panel-price-wrapper .panel-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 99;
    padding: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gantt .panel-price-wrapper .panel-price .loading-icon {
    display: none;
}
.fn-gantt .ganttRed {
    background-color: #F5837A;
}
.fn-gantt .ganttRed .fn-label {
    color: #78436D !important;
}
.fn-gantt .ganttGreen {
    background-color: #D8EDA3;
}
.fn-gantt .ganttGreen .fn-label {
    color: #778461 !important;
}
.fn-gantt .ganttGray {
    background-color: #CCCCCC;
}
.fn-gantt .ganttGray .fn-label {
    color: #626184 !important;
}
.fn-gantt .ganttOrange {
    background-color: #FCD29A;
}
.fn-gantt .ganttOrange .fn-label {
    color: #714715 !important;
}
.fn-gantt .depLine {
    background-color: transparent;
    position: absolute;
    z-index: 9999;
}
.fn-gantt .depLineSh {
    margin-top: 2px;
    margin-left: 2px;
    opacity: 0.3;
}
.fn-gantt .depStart, .fn-gantt .depEnd {
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 1px 1px 1px 0 #444;
    box-shadow: 1px 1px 1px 0 #444;
    z-index: 10001;
}
.ts-inventory-goto {
    border: 1px solid #ed8323;
    background: #FFF;
    padding: 5px 15px;
    font-weight: bold;
    color: #ed8323;
    height: 30px;
    cursor: pointer;
}
.ts-inventory-start,
.ts-inventory-end {
    height: 30px;
    border: 1px solid #ccc !important;
    box-shadow: none;
}
.ts-inventory-color .inventory-color-item{
    display: inline-block;
    margin-right: 15px;
}
.ts-inventory-color span {
    display: inline-block;
    width: 30px;
    height: 10px;
    margin-right: 5px;
}
.ts-inventory-color .unavailable {
    background: #F5837A;
}
.ts-inventory-color .out_stock {
    background: #FCD29A;
}
.nav-slider-right .nav-guide {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
}
.inventory-guide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.inventory-guide-wrapper .inventoty-guide {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 300px;
    padding: 15px;
    height: auto;
    background: #FFF;
    color: #444;
    margin-left: -150px;
}
.inventory-guide-wrapper .inventoty-guide .close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d48383;
    color: #FFF;
    text-decoration: none;
}
.ts-inventory-color .available {
    background: #D0E4FD;
}
/* === BOTTOM NAVIGATION === */
.fn-gantt .bottom {
    clear: both;
    background-color: #f6f6f6;
}
.fn-gantt .navigate {
    border-top: 1px solid #DDD;
    padding: 10px 0 10px 225px;
}
.fn-gantt .navigate .nav-slider {
    height: 20px;
    display: inline-block;
}
.fn-gantt .navigate .nav-slider-left, .fn-gantt .navigate .nav-slider-right {
    text-align: center;
    height: 20px;
    display: flex;
    align-items: center;
}
.fn-gantt .navigate .nav-slider-left {
    float: left;
}
.fn-gantt .navigate .nav-slider-right {
    float: right;
}
.fn-gantt .navigate .nav-slider-content {
    text-align: left;
    width: 160px;
    height: 20px;
    display: inline-block;
    margin: 0 10px;
}
.fn-gantt .navigate .nav-slider-bar, .fn-gantt .navigate .nav-slider-button {
    position: absolute;
    display: block;
}
.fn-gantt .navigate .nav-slider-bar {
    width: 155px;
    height: 6px;
    background-color: #838688;
    margin: 8px 0 0 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.fn-gantt .navigate .nav-slider-button {
    width: 17px;
    height: 102px;
    background: url(../img/slider_handle.png) center center no-repeat;
    left: 0;
    top: 0;
    margin: -26px 0 0 0;
    cursor: pointer;
}
.fn-gantt .navigate .page-number {
    display: inline-block;
    font-size: 10px;
    height: 20px;
}
.fn-gantt .navigate .page-number span {
    color: #666666;
    margin: 0 6px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.fn-gantt .navigate a:link, .fn-gantt .navigate a:visited, .fn-gantt .navigate a:active {
    text-decoration: none;
}
.fn-gantt .nav-link {
    margin: 0 3px 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    background: #287dfa url(../img/icon_sprite.png);
    background-position-x: 0;
    background-position-y: 0;
    border: 1px solid #287dfa;
    cursor: pointer;
    vertical-align: top;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s;
}
.fn-gantt .nav-link-custom {
    margin: 0 3px 0 0;
    display: inline-block;
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    border: 1px solid #287dfa;
    background-color: #287dfa;
    color: #FFF;
    cursor: pointer;
    vertical-align: top;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s;
}
.fn-gantt .nav-link:active {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
}
.gantt .leftPanel .inventory-edit-room-number:hover,
.fn-gantt .nav-link:hover,
.fn-gantt .nav-link-custom:hover {
    background-color: #9c9c9c;
    border-color: #9c9c9c;
}
.fn-gantt .nav-link:focus,
.fn-gantt .nav-link-custom:focus {
    outline: none;
    box-shadow: none;
}
.fn-gantt .navigate .nav-page-back {
    background-position: 1px 0 !important;
    margin: 0;
}
.fn-gantt .navigate .nav-page-next {
    background-position: 1px -16px !important;
    margin-right: 15px;
}
.fn-gantt .navigate .nav-slider .nav-page-next {
    margin-right: 5px;
}
.fn-gantt .navigate .nav-begin {
    background-position: 1px -112px !important;
}
.fn-gantt .navigate .nav-prev-week {
    background-position: 1px -128px !important;
}
.fn-gantt .navigate .nav-prev-day {
    background-position: 1px -48px !important;
}
.fn-gantt .navigate .nav-next-day {
    background-position: 1px -64px !important;
}
.fn-gantt .navigate .nav-next-week {
    background-position: 1px -160px !important;
}
.fn-gantt .navigate .nav-end {
    background-position: 1px -144px !important;
}
.fn-gantt .navigate .nav-zoomOut {
    background-position: 1px -96px !important;
}
.fn-gantt .navigate .nav-zoomIn {
    background-position: 1px -80px !important;
    margin-left: 15px;
}
.fn-gantt .navigate .nav-now {
    background-position: 1px -32px !important;
}
.fn-gantt .navigate .nav-slider .nav-now {
    margin-right: 5px;
}
.fn-gantt-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf000000', endColorstr='#bf000000', GradientType=0);
    background: rgba(0, 0, 0, 0.75);
    cursor: wait;
    z-index: 30;
}
.fn-gantt-loader-spinner span {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 1em;
    line-height: 1em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
.row:after {
    clear: both;
}
.fn-gantt .nav-slider-content,
.fn-gantt .nav-page-back, .fn-gantt .page-number, .fn-gantt .nav-page-next, .fn-gantt .nav-prev-week, .fn-gantt .nav-next-week {
    display: none !important;
}
#setting_inventory .fn-gantt .fn-label .inventory-edit-room-number{
    color: #ed8323;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.panel-room-number-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}
.panel-room-number-wrapper .panel-room{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 99;
    padding: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-room-number-wrapper .panel-room .close {
    position: absolute;
    color: #FFF;
    right: -20px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #b93b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    opacity: 1 !important;
}
.panel-room-number-wrapper .panel-room .btn-add-number-room i{
    display: none;
}
.ivt-error-field{
    border: 1px solid #cc0000 !important;
}
.panel-room-number-wrapper .message-box{
    display: block;
    text-align: center;
    margin-left: 5px;
}
.ivt-text-success{
    color: #00a651 !important;
}
.ivt-text-error{
    color: #cc0000 !important;
}
.gantt .leftPanel > .name {
    position: relative;
}
.gantt .leftPanel .inventory-edit-room-number {
    position: absolute;
    right: 6px;
    top: 19px;
    background: #287dfa;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d4d4d4;
    padding: 6px 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #287dfa;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0 5px 0 0;
    color: #fff;
    background-color: #287dfa;
    border: none;
}
.select2-container--default .select2-search--inline {
    display: inline-block;
}
.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0 0 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid #fff;
    color: #fff;
    height: 100%;
    line-height: 16px;
    display: inline-block;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding: 4px 7px 4px 5px;
    display: inline-block;
}
.location_map_and_latlng {
    display: flex;
    align-items: flex-start;
}
.location_map_and_latlng .ts_gmap_box {
    width: 70%;
}
.location_map_and_latlng .ts_gmap_box #ts_gmap {
    height: 370px;
    width: 100%;
}
.location_map_and_latlng .right {
    width: 30%;
    padding-left: 15px;
}
.trizen-hotel-infos-content .form-settings .location_map_and_latlng .right .title,
.trizen-hotel-infos-content .form-settings .location_map_and_latlng .right label
.location_map_and_latlng .right label {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}
.location_map_and_latlng .right .form-input {
    margin-bottom: 15px;
}
.location_map_and_latlng #pac-input {
    max-width: 400px;
    top: 12px !important;
}
.trizen-hotel-infos-content .form-settings .location-list label {
    font-size: 14px;
    font-weight: 400;
}
.ts-select-location {
    max-width: 600px;
}
.location-list-wrapper {
    margin-top: 20px;
    max-height: 440px;
    overflow-x: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 7px;
}
.location-list-wrapper .location-list {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 8px;
}
.location-list-wrapper .location-list:last-child {
    border-bottom: none;
}
.location-list-wrapper .location-list label {
    margin-bottom: 8px;
}

.nice-checkbox {
    display: inline-block;
    width: 55px;
    height: 24px;
    position: relative;
}
.nice-checkbox span {
    display: inline-block;
    width: 55px;
    background: #eee;
    border-radius: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: .3s;
    border: 1px solid #ddd;
}
.nice-checkbox input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 9;
}
.nice-checkbox span:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 3px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
    z-index: 1;
}
.nice-checkbox input:checked~span {
    background: #287dfa;
    border-color: #287dfa;
}
.nice-checkbox input:checked~span:before {
    left: 33px;
}
.nice-checkbox span:after {
    content: 'OFF';
    position: absolute;
    color: #000;
    left: 28px;
    top: 4px;
    font-size: 11px;
    font-weight: 500;
    transition: .3s;
}
.nice-checkbox input:checked~span:after {
    content: 'ON';
    color: #fff;
    left: 6px;
}

#adminmenu .menu-icon-location .wp-menu-image:before,
#adminmenu .menu-icon-hotel_room .wp-menu-image:before,
#adminmenu .menu-icon-ts_hotel .wp-menu-image:before {
    color: #ff76e1;
}
.location-list label input {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    box-shadow: none;
    position: relative;
    background: #e8e8e8;
}
.location-list label input[type="checkbox"]:checked::before {
    content: '';
    width: 3px;
    height: 7px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    position: absolute;
    left: 10px;
    top: 6px;
    transform: rotate(45deg);
}
.location-list label input[type="checkbox"]:checked {
    background: #287dfa;
    border-color: #287dfa;
}
#trizen-select-country-meta .select2-selection__rendered,
#trizen-select-country-meta select {
    border: 1px solid #ccc;
    padding: 2px 15px;
    border-radius: 4px;
}
#trizen-select-country-meta .select2-container .select2-selection--single {
    height: auto;
    border: none;
}
#trizen-select-country-meta .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    width: 27px;
}



@media (max-width: 960px) {
    .trizen-hotel-information-wrap .nav-pill-main-div {
        flex-wrap: wrap;
    }
    .trizen-hotel-information-wrap .tabs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
    }
    .trizen-hotel-information-wrap .tabs li {
        padding: 10px 24px 11px 10px;
        margin-right: 4px;
    }
    .calendar-wrapper {
        flex-wrap: wrap;
    }
    .calendar-wrapper .left-side,
    .calendar-wrapper .right-side {
        width: 100%;
    }
    .trizen-hotel-information-wrap .tabs {
        position: relative;
        top: 0;
    }
}

